<style>
.flickity-page-dots ol {
  top: 0;
  position: absolute;
  z-index: 1;
}

/* external css: flickity.css */

* {
  box-sizing: border-box;
}

.carousel-cell {
  /* margin-right: 10px; */
  /* border-radius: 5px; */
}

.carousel-cell.is-nav-selected {
  color: rgba(255, 255, 255, 1);
}

@media all and (orientation:portrait) {
  .portrait-top-0 {
    top: 0;
  }

  @media screen and (min-width: 30em) {
    .portrait-top-0-ns {
      top: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portrait-top-0-m {
      top: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .portrait-top-0-l {
      top: 0;
    }
  }

  .portrait-bottom-0 {
    bottom: 0;
  }

  .portrait-vh-50 {
    height: 50vh
  }

  @media screen and (min-width: 30em) {
    .portrait-vh-50-ns {
      height: 50vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portrait-vh-50-m {
      height: 50vh
    }
  }

  @media screen and (min-width: 60em) {
    .portrait-vh-50-l {
      height: 50vh
    }
  }

  .portrait-vh-66 {
    height: 66vh
  }

  @media screen and (min-width: 30em) {
    .portrait-vh-66-ns {
      height: 66vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portrait-vh-66-m {
      height: 66vh
    }
  }

  @media screen and (min-width: 60em) {
    .portrait-vh-66-l {
      height: 66vh
    }
  }

  .portrait-vh-85 {
    height: 85vh
  }

  @media screen and (min-width: 30em) {
    .portrait-vh-85-ns {
      height: 85vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portrait-vh-85-m {
      height: 85vh
    }
  }

  @media screen and (min-width: 60em) {
    .portrait-vh-85-l {
      height: 85vh
    }
  }

  @media screen and (min-width: 30em) {
    .portrait-bottom-0-ns {
      bottom: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portrait-bottom-0-m {
      bottom: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .portrait-bottom-0-l {
      bottom: 0;
    }
  }
}

@media all and (orientation:landscape) {
  .landscape-top-0 {
    top: 0;
  }

  @media screen and (min-width: 30em) {
    .landscape-top-0-ns {
      top: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .landscape-top-0-m {
      top: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .landscape-top-0-l {
      top: 0;
    }
  }

  .landscape-bottom-0 {
    bottom: 0;
  }

  @media screen and (min-width: 30em) {
    .landscape-bottom-0-ns {
      bottom: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .landscape-bottom-0-m {
      bottom: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .landscape-bottom-0-l {
      bottom: 0;
    }
  }


  .landscape-vh-50 {
    height: 50vh
  }

  @media screen and (min-width: 30em) {
    .landscape-vh-50-ns {
      height: 50vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .landscape-vh-50-m {
      height: 50vh
    }
  }

  @media screen and (min-width: 60em) {
    .landscape-vh-50-l {
      height: 50vh
    }
  }

  .landscape-vh-66 {
    height: 66vh
  }

  @media screen and (min-width: 30em) {
    .landscape-vh-66-ns {
      height: 66vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .landscape-vh-66-m {
      height: 66vh
    }
  }

  @media screen and (min-width: 60em) {
    .landscape-vh-66-l {
      height: 66vh
    }
  }

  .landscape-vh-85 {
    height: 85vh
  }

  @media screen and (min-width: 30em) {
    .landscape-vh-85-ns {
      height: 85vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .landscape-vh-85-m {
      height: 85vh
    }
  }

  @media screen and (min-width: 60em) {
    .landscape-vh-85-l {
      height: 85vh
    }
  }
}

.no-body-scroll {
  /* https://stackoverflow.com/questions/16348031/disable-scrolling-when-touch-moving-certain-element */
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.ts1-dark-gray {
  filter: drop-shadow(0 0.0625rem 0.0625rem #333);
}

/* https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow/ */



/* CHECKED TMP.CSS? */

</style>