<hr>
<h3>Social</h3>
<ul class="list pl0">
  <li><a class="link pointer charcoal dim underline" href="https://per.umbria.it">Parco dell’ Energia&nbsp;Rinnovabile</a>
  </li>
  <li><a class="link pointer charcoal dim underline" href="tel:+390744988050">Parco tel</a></li>
  <li><a class="link pointer charcoal dim underline" href="https://www.wimhofmethod.com/instructors/alessandroronca">Alessandro
      Ronca</a></li>
  <li><a class="link pointer charcoal dim underline"
      href="https://www.wimhofmethod.com/activities/whm-fundamentals-workshop-guardea-alessandro-ronca-1#act-prog">Activities:
      WHM Fundamentals Workshop</a></li>
  <li><a class="link pointer charcoal dim underline" href="https://rvo.lt">Fairtech Revolution</a></li>
  <li><a class="link pointer charcoal dim underline" href="mailto:scrivi@per.umbria.it">scrivi@per.umbria.it</a></li>
</ul>