{{ partial "head" . }}
<body class="w-100 source_sans_proregular black-70 highlight bg-near-white lh-copy" id="top">
<!-- <b class="w-10 fixed z-999 mt0 pa1 top-0 moon-gray" id="debugInfo">0</b> -->
{{ partial "svg.html" . }}
{{ partial "newNav" . }}

<div id="content" class="bg-orange">
	<ul class="ma0 list bg-near-white black-70 "><!-- antialias B&W -->
		<script>/*{{ range (where .Data.Pages "Type" "principle") }}
			{{ .Render "li" }}
		{{ end }}*/</script>

		{{ range .Data.Pages.ByWeight }}
			{{ .Render "li" }}		
		{{ end }}

		{{ partial "contact" . }}
	</ul>
</div>
{{/* partial "footer" . */}}