{{ partial "head" . }}
<body class="w-100 source_sans_proregular black-70 highlight bg-near-white lh-copy" id="top">
<!-- <b class="w-10 fixed z-999 mt0 pa1 top-0 moon-gray" id="debugInfo">0</b> -->
{{ partial "svg.html" . }}
{{ partial "newNav" . }}


	<ul class="ma0 list bg-near-white black-70 "><!-- antialias B&W -->
		<script>/*
			{{ range .Data.Pages.ByWeight }}
				{{ .Render "li" }}
			{{ end }}
		*/</script>

		{{ range (where .Data.Pages "Type" "posts") }}
			{{ .Render "li" }}
		{{ end }}

		{{ range (where .Data.Pages "Type" "notizia") }}
			<div="bg-washed-green">
			{{ .Render "li" }}
			</div>
		{{ end }}

		{{ partial "contact" . }}
	</ul>

{{/* partial "footer" . */}}
