<script type="text/javascript">

  //const DEBUG_MODE = true; if (DEBUG_MODE) {debugger;}
  const log = console.log;

  // Interrogate browser:
  const navUserLang = navigator.language.toLowerCase().substr(0, 2) || navigator.userLanguage.toLowerCase().substr(0, 2);
  //log(navUserLang)

  var prefLang = localStorage.getItem('inputLang');

  // Store default:
  localStorage.setItem('defaultLang', navUserLang);
  //log(localStorage.getItem('defaultLang'))

  if (!prefLang) {
    var prefLang = navUserLang;
    forwardTo(prefLang);
  };


  function forwardTo(prefLang) {
    var href = window.location.href;
    window.location.assign('/' + prefLang)
  };

  // A Crockford iife: https://stackoverflow.com/a/23925102/3429622
  (function () {
    if (window.location.href.substr(-3, 2) != prefLang) {
      //log('not the same = ' + window.location.href.substr(-3, 2));
      window.location.assign('/' + prefLang);
    }
  }()); //onload

</script>